@model DealershipInc.Models.PartnerBank

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
<p>
    <a href="javascript:history.back()">Go Back</a> | @Html.ActionLink("Edit", "Edit", new { id = Model.BankID })
</p>

<div>
    <h4>PartnerBank</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BadCreditRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BadCreditRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FairCreditRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FairCreditRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GoodCreditRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GoodCreditRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExcellentCreditRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExcellentCreditRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxLoanTerm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxLoanTerm)
        </dd>

    </dl>
</div>

