@model IEnumerable<DealershipInc.Models.VehicleAddOn>

@{
    ViewBag.Title = "Add Ons";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vehicle Addons</h2>

<p>
    @Html.ActionLink("Back to Menu", "Index", "SalesEmp")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ForVehicleType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantityAvail)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Manufacturer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ForVehicleType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantityAvail)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", "VehicleAddOns", new { id=item.AddOnID }, null)
        </td>
    </tr>
}

</table>
