@model IEnumerable<DealershipInc.Models.Customer>

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Customers</h2>

<p>
    @Html.ActionLink("Back to Menu", "Index", "SalesEmp") | @Html.ActionLink("New Customer", "Create", "Customers")
</p>

@using (Html.BeginForm())
{
    <p>
        Find by ID: @Html.TextBox("SearchString")
        <input type="submit" value="Search">
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreditScore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreditScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Customers", new {id = item.CustomerID}, null) |
                @Html.ActionLink("Details", "Details", "Customers", new {id = item.CustomerID}, null) |
                @Html.ActionLink("Delete", "Delete", "Customers", new {id = item.CustomerID}, null)
            </td>
        </tr>
    }

</table>

<p>
    Number of customers: @Model.Count( )
</p>
<p>
    Average credit score: @Model.Average(m => m.CreditScore)
</p>