@model IEnumerable<DealershipInc.Models.DealerBranch>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OpenTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CloseTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TargetSalesYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TargetSalesMonth)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OpenTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CloseTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TargetSalesYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TargetSalesMonth)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BranchID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BranchID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BranchID })
        </td>
    </tr>
}

</table>
